#id1{color:#4169E1; font-family:Arial Black; font-size:50px;}
#id2{color:#C0C0C0; font-family:Arial; font-size:25px;}
#id3{color:black; font-family:Arial; font-size:20px;}
#id4{color:black; font-family:Arial; font-size:20px; font-weight:bold;}
#id5{color:black; font-family:Arial; font-size:20px; text-decoration:underline}
